body{ /*personaliza el body*/
    font-family: Arial, Helvetica, sans-serif; /*tipo de letra*/
    margin:0; 
    padding: 20px; 
    min-height: 1vh; 
    background: #a2d4c7; 
}

header{ /*personaliza el header*/
    display: flex; /*convierte header en un apartado flexible*/
    flex-direction: column; /*hace que las secciones del header esten en forma de columnas */
    margin:20px 0;  /*da el ancho al margen en el eje x y en el eje y */
    text-align: center; /*centra el texto */
    background-color: #2f2e2e;   /*da el color al fondo */
}

main{ /*personaliza el main */
    display: flex; /* convierte main en un apartado flexible */
    margin: 20px 0; /*da el ancho al margen en el eje x & eje y */
    text-align: center;    /*centra el texto */
    justify-content: center; /*centra el contenido */
} 

aside{  /*personaliza el aside */
    flex: 20%;   /*da el porcentaje que ocupara visualmente dentro del main*/
    padding: 100px;   /*personaliza el espacio que hay entre el borde y el texto*/
    border:4px solid #d9ead3; /*personaliza el borde dandole color y anchura */
    background-color: #ff00a6; /*color de fondo de aside*/
    justify-content: center; /*centra el contenido*/

}

section{ /*personaliza el aside */
    justify-content: center; /*centra el contenido*/
    text-align: center;  /*centra el texto */
    flex: 70%;  /*da el porcentaje que ocupara visualmente dentro del main, en este caso se reparte entre aside y section*/
    padding: 100px; /*personaliza el espacio que hay entre el borde y el texto*/
    border:4px solid #d9ead3;
    background-color: #21b9ff;
    
}

nav{
    display: flex; /* convierte main en un apartado flexible */
    justify-content: center;  /*centra el contenido*/
    align-items: center; /*alinea los elementos verticalmente*/
    min-height: 10vh;    
    margin: 10px;  /*da el ancho al margen en el eje x & eje y */
    font-family: arial, sans-serif;
    background-color: #d9ead3;
        
}

nav a{
    margin:0 60px; /*da el ancho al margen en el eje x & eje y */
    justify-content: center;  /*centra el contenido*/
    align-items: center;/*alinea los elementos verticalmente*/
    -webkit-text-fill-color: #474747;
    text-decoration: none;
    
}

footer{ /*personaliza el footer */
    display: flex; /* convierte main en un apartado flexible */
    justify-content: center;  /*centra el contenido*/
    align-items: center; /*alinea los elementos verticalmente*/
    min-height: 10vh;    /*da una aktura minima a footer*/
    margin: 0;  /*da el ancho al margen en el eje x & eje y */
    font-family: arial, sans-serif;
    background-color: #fbff00;
}


.Encabezado1 { /*da una clase para personalizar el texto (se llama con class desde el html)*/
    background: #d9ead3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:0 0 10px #ffffff;
}